Pandas kutubxonasini chaqirish

In [101]:
import pandas as pd

Read method orqali test.csv ni oqish va oqilgan malumotni df nomli ozgraruvchiga berish

In [102]:
df=pd.read_csv("test.csv")

Head bu bowidagi 5 ta qatorni chiqaradi

In [103]:
df.head()

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
0,500,27,Female,Snapchat,120,4,40,18,22,Neutral
1,488,21,Non-binary,Snapchat,60,1,18,7,12,Neutral
2,776,28,Non-binary,Snapchat,115,3,38,18,27,Anxiety
3,869,27,Male,Telegram,105,3,48,20,28,Anxiety
4,573,21,Non-binary,Facebook,55,3,17,7,12,Neutral

INFO metod DataFrame ning tuzilmasini, ustunlarning nomlarini, turi, null qiymatlar soni va xotira hajmi haqida kop foydali malumotlarni olish uchun ishlatiladi

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User_ID                     103 non-null    int64
 1   Age                         103 non-null    object
 2   Gender                      103 non-null    object
 3   Platform                    103 non-null    object
 4   Daily_Usage_Time (minutes)  103 non-null    int64
 5   Posts_Per_Day               103 non-null    int64
 6   Likes_Received_Per_Day      103 non-null    int64
 7   Comments_Received_Per_Day   103 non-null    int64
 8   Messages_Sent_Per_Day       103 non-null    int64
 9   Dominant_Emotion            103 non-null    object
dtypes: int64(6), object(4)
memory usage: 8.2+ KB

Shape qator va ustunlar sonini tuple korinishida qaytaradi

In [8]:
df.shape

(103, 10)

DESCRIBE metod ma'lumotlar to'plamining umumiy tasavvurini olish uchun foydali bo'lib, statistik tahlil qilish uchun juda muhimdir

In [9]:
df.describe()

,User_ID,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day
count,103.000000,103.000000,103.000000,103.000000,103.000000,103.000000
mean,521.262136,88.009709,2.864078,33.456311,13.766990,20.388350
std,288.949991,33.979087,1.732326,23.031426,8.107372,7.372755
min,16.000000,40.000000,1.000000,5.000000,2.000000,10.000000
25%,275.000000,60.000000,1.000000,15.000000,7.000000,15.000000
50%,526.000000,75.000000,2.000000,27.000000,12.000000,20.000000
75%,776.000000,105.000000,4.000000,40.000000,19.500000,25.000000
max,997.000000,200.000000,8.000000,110.000000,40.000000,45.000000

DataFrame ning VALUES atributi DataFrame ning barcha ma'lumotlarini 2D numpy massiv (array) ko'rinishida qaytaradi

In [13]:
df.values

array([[500, '27', 'Female', ..., 18, 22, 'Neutral'],
       [488, '21', 'Non-binary', ..., 7, 12, 'Neutral'],
       [776, '28', 'Non-binary', ..., 18, 27, 'Anxiety'],
       ...,
       [708, '24', 'Non-binary', ..., 23, 25, 'Sadness'],
       [993, '24', 'Male', ..., 16, 22, 'Neutral'],
       [60, '27', 'Male', ..., 4, 15, 'Boredom']], dtype=object)

INDEX-  DataFrame ning indexsini ifolaydi

In [14]:
df.index

RangeIndex(start=0, stop=103, step=1)

Sort_values bu berilgan ustun boyicha sortlaydi, ascending False qilib qoyilsa teskari sortlaydi

In [20]:
df.sort_values("Age",ascending=True)

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
46,651,Male,27,Instagram,165,6,85,30,28,Happiness
39,872,35,Male,Twitter,70,1,13,8,10,Boredom
71,672,35,Male,Twitter,70,1,13,8,10,Boredom
14,372,35,Male,Twitter,70,1,13,8,10,Boredom
47,713,34,Male,LinkedIn,65,1,14,6,15,Boredom
...,...,...,...,...,...,...,...,...,...,...
7,773,21,Non-binary,Facebook,55,3,17,7,12,Neutral
30,847,21,Female,Twitter,90,3,37,14,20,Sadness
4,573,21,Non-binary,Facebook,55,3,17,7,12,Neutral
82,16,21,Non-binary,Facebook,40,1,5,2,10,Neutral
1,488,21,Non-binary,Snapchat,60,1,18,7,12,Neutral

Bunda "Age" nin togri tartibda User-ID ni teskaru tartb da sortlaydi

In [21]:
df.sort_values(["Age","User_ID"],ascending=[True,False])

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
30,847,21,Female,Twitter,90,3,37,14,20,Sadness
7,773,21,Non-binary,Facebook,55,3,17,7,12,Neutral
4,573,21,Non-binary,Facebook,55,3,17,7,12,Neutral
1,488,21,Non-binary,Snapchat,60,1,18,7,12,Neutral
82,16,21,Non-binary,Facebook,40,1,5,2,10,Neutral
...,...,...,...,...,...,...,...,...,...,...
17,413,34,Male,LinkedIn,65,1,14,6,15,Boredom
39,872,35,Male,Twitter,70,1,13,8,10,Boredom
71,672,35,Male,Twitter,70,1,13,8,10,Boredom
14,372,35,Male,Twitter,70,1,13,8,10,Boredom
46,651,Male,27,Instagram,165,6,85,30,28,Happiness

User_ID si 100 dan katta bolsa True kichik bolsa Falsa sereis koriniwida qaytaradi

In [27]:
df["User_ID"]>100

0       True
1       True
2       True
3       True
4       True
       ...
98      True
99      True
100     True
101     True
102    False
Name: User_ID, Length: 103, dtype: bool

Age 30 ga teng bolgan DataFrame larni qaytaradi

In [29]:
df[df["Age"]=="30"]

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
44,490,30,Male,Twitter,70,2,30,12,20,Anxiety
70,846,30,Male,Instagram,175,7,100,33,38,Happiness
89,290,30,Male,Twitter,70,2,28,10,20,Anxiety

Age 30 va User_ID 290 bolganlar chiqadi

In [38]:
df[  (df["Age"]=="30")  &  (df["User_ID"]==290)]

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion
89,290,30,Male,Twitter,70,2,28,10,20,Anxiety

isin() bu DataFrame ichida berilgan data bolsa True bolmsa False qaytaradi

In [41]:
df['Age'].isin(["21","40"])

0      False
1       True
2      False
3      False
4       True
       ...
98     False
99     False
100    False
101    False
102    False
Name: Age, Length: 103, dtype: bool

Yangi column qowiw

In [104]:
df["New_Posts_Per_Day"]=df["Posts_Per_Day"]+2
df

,User_ID,Age,Gender,Platform,Daily_Usage_Time (minutes),Posts_Per_Day,Likes_Received_Per_Day,Comments_Received_Per_Day,Messages_Sent_Per_Day,Dominant_Emotion,New_Posts_Per_Day
0,500,27,Female,Snapchat,120,4,40,18,22,Neutral,6
1,488,21,Non-binary,Snapchat,60,1,18,7,12,Neutral,3
2,776,28,Non-binary,Snapchat,115,3,38,18,27,Anxiety,5
3,869,27,Male,Telegram,105,3,48,20,28,Anxiety,5
4,573,21,Non-binary,Facebook,55,3,17,7,12,Neutral,5
...,...,...,...,...,...,...,...,...,...,...,...
98,184,22,Male,Twitter,70,1,20,5,22,Neutral,3
99,896,33,Male,LinkedIn,85,4,35,18,18,Boredom,6
100,708,24,Non-binary,Facebook,110,6,35,23,25,Sadness,8
101,993,24,Male,Telegram,75,3,37,16,22,Neutral,5
102,60,27,Male,Facebook,60,1,10,4,15,Boredom,3

Yangi malumotlarni csv faylga saqlash

In [105]:
df.to_csv("test.csv",index=False)

Faqat Age ni sereis koriniwida chiqarish

In [54]:
age=df.Age
age

0      27
1      21
2      28
3      27
4      21
       ..
98     22
99     33
100    24
101    24
102    27
Name: Age, Length: 103, dtype: object

Column ochirish

In [108]:
df=df.drop(columns=["Likes_Received_Per_Day"])

In [110]:
import numpy as np

In [113]:
# Ikki matritsani ko'paytirish
matrix1 = np.array([[1, 2], [3, 4]])
matrix2 = np.array([[5, 6], [7, 8]])

product = np.dot(matrix1, matrix2)
print("Matritsa ko'paytirish:\n", product)

# Determinantni hisoblash
det = np.linalg.det(matrix1)
print("Determinant:", det)

# Invers matritsa
inv_matrix = np.linalg.inv(matrix1)
print("Invers matritsa:\n", inv_matrix)

Matritsa ko'paytirish:
 [[19 22]
 [43 50]]
Determinant: -2.0000000000000004
Invers matritsa:
 [[-2.   1. ]
 [ 1.5 -0.5]]